//
   Created by 灵 on 2016/3/10.
extends layout

block content
    .container-fluid
        .row-fluid
            .well.span4='练习:' + statistic.name
            .well.span5='日期:' + statistic.startTime
            .well.span3='用时:' + statistic.totalTime
        .row-fluid
            #chartTimespan.span12(style="height:300px")
            #chartPerquestion.span12(style="height:300px")
        .row-fluid
            .span5
                table.table
                    thead
                        tr.error
                            td 题目
                            td 正确
                            td 错误
                    each errItem in statistic.err
                        tr.error
                            td=errItem.question
                            td=errItem.rightAnswer
                            td=errItem.answer
            .span5.offset2
                table.table
                    thead
                        tr.info
                            td 题目
                            td 次数
                            td 耗时
                    each span in statistic.timeSpan
                        tr.alert-info
                            td=span.question
                            td=span.times
                            td=span.timeSpan
    audio(id="backgroundwav", preload="auto", style="display:none", loop="loop")
        source(src="/audios/Gareth Coker,Tom Boyd - The Waters Cleansed.mp3")
    script.
        var chartDatas = eval(!{statisticJson});
        $(function(){
            $('#chartTimespan').highcharts(
                chartDatas.chartTimespan
            );

            $('#chartPerquestion').highcharts(
                chartDatas.chartPerquestion
            );

            var startPlay = false;

            document.addEventListener('touchstart', function() {
                if(!startPlay) {
                    $('#backgroundwav')[0].play();
                    startPlay = true;
                }
            }, false);
        });